MapPane {
    -fx-background-color: orange;
}

MapInfoPane {
    -fx-background-color: red;
}

MapTilesPane {
    -fx-background-color: green;
}

#check-board-0 {
    -fx-background-color: darkgray;
}

#check-board-1 {
    -fx-background-color: lightgray;
}

TileConfigPane {
    -fx-background-color: yellow;
}

TileStackPane {
    -fx-background-color: gray;
}

/** no effect **/
ConfirmDialog {
    -fx-background-color: green;
}