#check-board-0 {
    -fx-background-color: -fx-color-checkboard-0;
}

#check-board-1 {
    -fx-background-color: -fx-color-checkboard-1;
}

#important-text {
    -fx-fill: -fx-color-text-light-1;
    -fx-font-weight: bold;
}

#toolbar {
    -fx-background-color: -fx-color-secondary-1-3;
}

/* Currently unused */
#stage-bar {
    -fx-background-color: -fx-color-secondary-1-4;
}

#stage-bar .label {
    -fx-text-fill: -fx-color-text-light-2;
}

#button-minimize {

}

#button-maximize {

}

#button-exit {

}